{% extends 'erttiwtFront/base.html' %} {% load static %} {% block title%}
Erttiwt {% endblock %} {% block content %}

<div class="header_info"></div>
<div class="content">
  <!-- <div class="left_side">

   


  </div> -->
  <div class="liste_tweet">
    <h3>Actualités</h3>
    <div class="infinite-container">
      {% for Tweet in Tweets %}
      <div class="infinite-item">
        <div class="tweet">
          <div class="tweet_header">
            <div style="display: flex; gap: 5px; align-items: center">
              {% if Tweet.picture %}
              <img src="{% get_media_prefix %}{{ Tweet.picture }}" alt="image de profil" class="profil_image" />
              {% else %}
              <img src="{% static 'erttiwtFront/img/defaut.jpg' %}" alt="image de profil" class="profil_image" />
              {% endif %}
              <p class="tweet_author" style="display: flex; align-items: center; gap: 10px;">
                <a class="linktoprofil" href="/profil/{{Tweet.user}}">
                  {{ Tweet.first_name }}
                </a>
                <small>@{{ Tweet.user }}</small>
                {% if Tweet.is_verified %}
                <i class='bx bxs-badge-check bx-sm'></i>
                {% endif %}
              </p>
              <p class="tweet_date">{{ Tweet.date|date:'d F Y' }} {{ Tweet.date|time:'H:i' }}</p>
            </div>
            {% if user.is_authenticated %}
            {% if user|stringformat:'s' == Tweet.user|stringformat:'s' %}
            <div>
              <i class="bx bx-edit-alt edittweet"></i>
              <a href="deletetweet/{{ Tweet.idTwitt }}"><i class="bx bx-trash"></i></a>
            </div>
            {% endif %}
            {% endif %}
          </div>
          <div class="tweet_content">
            <p>{{ Tweet.twitt }}</p>
          </div>
          <div class="tweet_likes_retweets">
            <div id="{{ Tweet.idTwitt }}" class="comments">
              <i class="bx bx-comment bx-sm" id=""></i>
              <p>{{ Tweet.commentaires|length }}</p>
            </div>
            {% if user.is_authenticated %}
            <div id="{{ Tweet.idTwitt }}" class="retweet">
              {% if Tweet.retweetParUser == True %}
              <i class="bx bx-recycle bx-sm" style="color: green;"></i>
              {% else %}
              <i class="bx bx-recycle bx-sm"></i>
              {% endif %}
              <p>{{ Tweet.retwitts }}</p>
            </div>
            {% else %}
            <div>
              <i class="bx bx-recycle bx-sm"></i>
              <p>{{ Tweet.retwitts }}</p>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div id="{{ Tweet.idTwitt }}" class="like">
              {% if Tweet.likeParUser == True %}
              <i class="bx bxs-heart bx-sm"></i>
              {% else %}
              <i class="bx bx-heart bx-sm"></i>
              {% endif %}
              <p>{{ Tweet.likes }}</p>
            </div>
            {% else %}
            <div>
              <i class="bx bx-heart bx-sm"></i>
              <p>{{ Tweet.likes }}</p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="popup_new_comment" id="pop{{Tweet.idTwitt}}">
        <div class="liste_commentaire">
          {% for comment in Tweet.commentaires %}
          <div style="display: flex; gap: 5px; align-items: center">
            {% if comment.picture %}
            <img src="{% get_media_prefix %}{{ comment.picture }}" alt="image de profil" class="profil_image" />
            {% else %}
            <img src="{% static 'erttiwtFront/img/defaut.jpg' %}" alt="image de profil" class="profil_image" />
            {% endif %}
            <p class="tweet_author" style="display: flex; align-items: center; gap: 10px;">
              <a class="linktoprofil" href="/profil/{{comment.user}}">
                {{ comment.first_name }}
              </a>
              <small>@{{ comment.username }}</small>
              {% if comment.is_verified %}
              <i class='bx bxs-badge-check bx-sm'></i>
              {% endif %}
            </p>
            <p class="tweet_date">{{ comment.date|date:'d F Y' }} {{ comment.date|time:'H:i' }}</p>
            {% if user.is_authenticated %}
            {% if user|stringformat:'s' == Tweet.user|stringformat:'s' %}
            <div>
              <a href="deletecomment/{{ comment.idCommentaire }}"><i class="bx bx-trash"></i></a>
            </div>
            {% endif %}
            {% endif %}
          </div>
          <div class="tweet_content">
            <p>{{ comment.commentaire }}</p>
          </div>
          {% endfor %}
        </div>


        {% if user.is_authenticated %}
        <div class="formclass">
          <form action="/comment/{{Tweet.idTwitt}}" method="post">
            {% csrf_token %}
            {% for fields in commentsForm %}
            {{ fields }}
            {% endfor %}
            <input type="hidden" name="idTwitt" value="{{ Tweet.idTwitt }}">
            <input type="submit" value="Commenter">
          </form>
        </div>
        {% endif %}
      </div>

      {% endfor %}

    </div>
    {% if Tweets.has_next %}
    <a class="infinite-more-link voir_plus" href="?page={{ Tweets.next_page_number }}">Voir plus</a>
    {% endif %}
    <div class="loading" style="display: none">Chargement...</div>
    <script>
      var infinite = new Waypoint.Infinite({
        element: $(".infinite-container")[0],
        onBeforePageLoad: function () {
          $(".loading").show();
        },
        onAfterPageLoad: function ($items) {
          $(".loading").hide();
        },
      });
    </script>
  </div>
  <div class="right_side">
    <!-- {% if user.is_authenticated %}
    <h3>Mon profil</h3>
    <div class="profil">
      <div class="profil_header">
        {% if current_picture.profilPicture %}
        <img src="{% get_media_prefix %}{{ current_picture.profilPicture }}" alt="image de profil"
          class="profil_image" />
        {% else %}
        <img src="{% static 'erttiwtFront/img/defaut.jpg' %}" alt="image de profil" class="profil_image" />
        {% endif %}
      </div>
      <div class="profile_content">
        <div class="nameprofil">
          <div>
            <p class="profil_name">{{ user.username }}</p>
            <p class="profil_username">@{{ user.username }}</p>
          </div>
          <div class="follow_button">
            <a href="{% url 'logout' %}">Se déconnecter</a>
          </div>
        </div>
        <p class="profil_bio">Bio</p>
        <div class="follow_info_profil_page">
          <p>
            {{ user_follow|length }}
            {% if user_follow|length > 1 %}
            abonnements
            {% else %}
            abonnement
            {% endif %}
          </p>
          <p>
            {{ user_follower|length }}
            {% if user_followed|length > 1 %}
            abonnés
            {% else %}
            abonné
            {% endif %}
        </div>
      </div>
      <div class="NouveauTweet">
        <form action="{% url 'newTwitt' %}" method="POST">
          {% csrf_token %} {% for field in twittForm %}{{ field }}{% endfor %}
          <button type="submit">Tweeter</button>
        </form>
      </div>
      {% else %}
      <h3>Pour accèder à toutes nos fontionnalités, veuillez vous inscrire</h3>
      <div class="connexion">
        <a href="{% url 'register' %}">S'inscrire</a>
      </div>
      <div class="google">
        <button><i class="bx bxl-google"></i> S'inscrire avec Google</button>
      </div>
    </div>
    {% endif %} -->
    <div class="toFollow">
      <h3>Personnes à suivre</h3>
      {% for user in users %}
      {% if user.follow == False %}
      <div class="toFollow_user">
        {% if user.picture %}
        <img src="{% get_media_prefix %}{{ user.picture }}" alt="image de profil" class="profil_image" />
        {% else %}
        <img src="{% static 'erttiwtFront/img/defaut.jpg' %}" alt="image de profil" class="profil_image" />
        {% endif %}
        <a href="profil/{{user.username}}" class="tweet_author" style="color:white">@{{ user.username }}</a>
        <a href="follow/{{user.id}}">
          <button class="follow">Suivre</button>
        </a>
      </div>
      {% endif %}
      {% endfor %}

    </div>
    <div class="mode">

      {% if color_theme == 'dark' %}
      <div class="light_mode">
        <button class="active_lightMode" id="setLightMode">
          <i class="bx bx-moon bx-sm"></i>
          Mode clair
        </button>
      </div>
      {% else %}
      <div class="light_mode">
        <button class="active_lightMode" id="setDarkMode">
          <i class="bx bx-moon bx-sm"></i>
          Mode sombre
        </button>
      </div>
      {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="NouveauTweet">
      <form action="{% url 'newTwitt' %}" method="POST">
        {% csrf_token %} {% for field in twittForm %}{{ field }}{% endfor %}
        <button type="submit">Tweeter</button>
      </form>
    </div>
    {% endif %}
  </div>
  <style>
    .subscrire {
      background-color: #fff;
      border-radius: 15px;
      padding: 20px;
      margin-bottom: 20px;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      display: none;
    }

    .subscrire h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #000;
    }

    .subscrire p {
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 10px;
      color: #000;
    }

    .subscrire_button button {
      background-color: #1da1f2;
      color: #fff;
      border: none;
      border-radius: 50px;
      padding: 10px 20px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
    }

    .subscrire_button button i {
      font-size: 20px;
      margin-left: 10px;
    }

    .subscrire strong {
      font-size: 20px;
      font-weight: 600;
      color: #1da1f2;
    }
  </style>
  <div class="subscrire">
    <h3>S'abonner à Erttiwt</h3>
    <p>Recevez plus de ce que vous adorez</p>
    <p>
      Avec cette abonnement, vous pouvez edité vos tweets et plus encore pour seulement <strong> 1999.99€ par
        mois</strong>
    </p>
    <div class="subscrire_button">
      <button>
        Abonnez-vous maintenant <i class="bx bx-right-arrow-alt"></i>
      </button>
    </div>
  </div>
  <script>

  </script>
  {% endblock %}
</div>