{% extends 'erttiwtFront/base.html' %} 
{% load static %} 
{% block title%}Erttiwt{% endblock %}
 {% block content %}

<div class="header_info">
 
</div>



<div class="content">
  <div class="toFollow">
    <h3>Personnes à suivre</h3>
    <li>
      <img
        src="{% static 'erttiwtFront/img/defaut.jpg' %}"
        alt="image de profil"
        class="profil_image"
      />
      <p class="tweet_author">@user</p>
      <button class="follow">Suivre</button>
    </li>
    <li>
      <img
        src="{% static 'erttiwtFront/img/defaut.jpg' %}"
        alt="image de profil"
        class="profil_image"
      />
      <p class="tweet_author">@user</p>
      <button class="follow">Suivre</button>
    </li>
    <li>
      <img
        src="{% static 'erttiwtFront/img/defaut.jpg' %}"
        alt="image de profil"
        class="profil_image"
      />
      <p class="tweet_author">@user</p>
      <button class="follow">Suivre</button>
    </li>
    <li>
      <img
        src="{% static 'erttiwtFront/img/defaut.jpg' %}"
        alt="image de profil"
        class="profil_image"
      />
      <p class="tweet_author">@user</p>
      <button class="follow">Suivre</button>
    </li>
  </div>

  <div class="liste_tweet">
    <h3>Actualités</h3>
    {% for Tweet in Tweets %}

    <div class="tweet">
      <div class="tweet_header">
        <img
          src="{% static 'erttiwtFront/img/defaut.jpg' %}"
          alt="image de profil"
          class="profil_image"
        />
        <p class="tweet_author">{{ Tweet.user }} <i class='bx bxs-user-check'></i> <small>@{{ Tweet.user }} ·</small></p>
        <p class="tweet_date">{{ Tweet.date }}</p>
      </div>
      <div class="tweet_content">
        <p>{{ Tweet.twitt }}</p>
      </div>
      <div class="tweet_likes_retweets">
        <div>
          <i class="bx bx-comment bx-sm"></i>
          <p>{{ Tweet.commentaires|length }}</p>
        </div>
        <div>
          <i class="bx bx-recycle bx-sm"></i>
          <p>{{ Tweet.retwitts }}</p>
        </div>
        <div>
          <i class="bx bx-heart bx-sm"></i>
          <p>{{ Tweet.likes }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    <button class="voir_plus">Voir plus</button>
  </div>

  <div class="right_side">
    {% if user.is_authenticated %}
    <h3>Mon profil</h3>
    <div class="profil">
      <div class="profil_header">
        <img
        src="{% static 'erttiwtFront/img/defaut.jpg' %}"
        alt="image de profil"
        class="profil_image"
      />
      </div>
      <div class="follow_button">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Se déconnecter</a>
        {% else %}
        <button class="follow">Suivre</button>
        {% endif %}
      </div>
   <div class="profile_content">
      <p class="profil_name">{{ user.username }}</p>
      <p class="profil_username">@{{ user.username }}</p>
      <p class="profil_bio">Bio</p>
      <div class="profil_follow">
        <p><span class="profil_follow_number">0</span> Abonnements</p>
        <p><span class="profil_follow_number">0</span> Abonnés</p>
      </div>
    </div>
    {% else %}
    <h3>Pour accèder à toutes nos fontionnalités, veuillez vous inscrire</h3>
    <div class="connexion">
      <a href="{% url 'login' %}">S'inscrire</a>
    </div>
    <div class="google">
      <button><i class="bx bxl-google"></i> S'inscrire avec Google</button>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
