
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;1,300;1,400;1,600&display=swap');
html,body{
    background-color: #141d26;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.bxs-heart {
    color: red;
  }
svg
 {
    fill: #1DA1F2;
  }
  
a{
    color: #c51f5d;
    text-decoration: none;
}
/* header */
.header_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header_info .appli_name {
    font-size: 1.5rem;
    font-weight: 600;
}

/* content */
.content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* sidebar */
.toFollow{
    width: 20%;
    padding: 15px
}
.toFollow .profil_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.toFollow li {
    display: flex;
    align-items: center;
}
.toFollow p {
    font-weight: 600;
    font-size: 1rem;
    margin-right: 10px;
}
.toFollow .follow {
    background-color: #c51f5d;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
}
/* Card des tweets */
.liste_tweet {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 40%;

}
.liste_tweet .voir_plus {
    background-color: #c51f5d;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.tweet{
  
    background-color: #1b2836;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.tweet .tweet_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tweet .tweet_header .tweet_author{
    font-weight: 600;
    font-size: 1rem;
    margin-right: 10px;
}
.tweet .tweet_header .tweet_date{
    font-size: 0.8rem;
    color: #8899a6;
}
.tweet .profil_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.tweet .tweet_content{
    display: flex;
    align-items: center;
}
.tweet .tweet_likes_retweets{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    gap: 5px;
}
.tweet .tweet_likes_retweets div {
    display: flex;
    align-items: center;
    gap: 5px;
}
.tweet .commentaires {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}
.tweet .commentaire_content{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

/* coté droit */
.right_side{
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}
.right_side .connexion a{
    display: flex;
    align-items: center;
    background-color: #c51f5d;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center  ;   
}
.right_side .google button{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
}

/* form login */

.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.formLogin input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: #1b2836;
    color: #fff;
}
.formLogin button {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: #c51f5d;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.formLogin p {
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.contentLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.headernav{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1b2836;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.headernav .search input{
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    height: 15px;
    border: none;
    background-color: #8899a6;
    color: #fff;
   
}
.headernav .search {
display: flex;
align-items: center;
   
}
.headernav .search button {
    background-color: #c51f5d;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-left: 10px;
}

/* vue profile home */

.right_side .profil .profil_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
    top: 70px;
    border: #fff solid 5px;
    margin-left: 15px;
}
.profil {
    border: #8899a6 solid 1px;
    width: 100%;
}
.profil .follow_button {
    background-color: #c51f5d;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    
}
.profil .follow_button a{
    color: #fff;
}
.profil .profile_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.nameprofil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.profil_header  {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    width: 100%;

}

.profil .profil_name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.profil .profil_username {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.profil .profil_bio {
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.profil .profil_follow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}
.profil .profil_follow_number {
    font-size: 1rem;
    font-weight: 600;
    margin-right: 10px;
}


.toFollow_user{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
    width: 100%;
    background-color: #1b2836;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.NouveauTweet form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.NouveauTweet form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: #1b2836;
    color: #fff;
    resize: none;
}
.NouveauTweet form button {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    background-color: #c51f5d;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

/* formulaire inscription */

.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.form-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text-muted{
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.help{
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.is-danger{
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

/* profil page */

.profil_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 150px;
}

.profil_page_header {
    height: 200px;
    background-color: #000;
    display: flex;
    padding: 10px;
}

.profil_page_header_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 50px;
    position: relative;
    top: 110px;
    border: 5px solid #fff;
}

.edit_profil {
    position: relative;
    top: 250px;
    left: 75%;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_profil a {
    color: #fff;
    text-decoration: none;
}

.edit_profil:hover {
    background-color: #eaeaea;

}

.profil_page_header_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profil_page_body_text {
    position: relative;
    top: 110px;
    margin-left: 30px;
}

.profil_header_text {
    color: #fff;
}

.profil_page_content {
    width: 100%;
    display: flex;
    padding: 10px;

}

.last_tweet {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.last_tweet h1 {
    text-align: center;
    border-bottom: 5px solid #2E7FC3;
    padding-bottom: 10px;
    border-radius: 5px;

}

.tweet_header_profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.last_likes{
    margin-left: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.last_likes h1 {
    text-align: center;
    border-bottom: 5px solid #2E7FC3;
    padding-bottom: 10px;
    border-radius: 5px;
}
.last_retweets {
    margin-left: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.last_retweets h1 {
    text-align: center;
    border-bottom: 5px solid #2E7FC3;
    padding-bottom: 10px;
    border-radius: 5px;
}

.follow_info_profil_page{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
/* search result ajax */
.ui-autocomplete{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    z-index: 9999;
    position: absolute;
    background-color: #1b2836;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 20px;
    width: 30%;
}
.searchresult{
   width: 100%;
   border-radius:  20px;
}
.searchresult:hover{
    background-color: #2E7FC3;
    cursor: pointer;
}
.searchresultdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    
}
.searchresultdiv .nameresult{
    display: flex;
    flex-direction: column;
}
.nameresult span {
    color: #fff;
    font-size: 1.3rem;
}
.nameresult small{
    color: #fff;
    font-size: 0.8rem;
}

