



@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;1,300;1,400;1,600&display=swap');
html,body{
    
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.bxs-heart {
    color: red;
  }
svg
 {
    fill: #1DA1F2;
  }
  

/* header */
.header_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header_info .appli_name {
    font-size: 1.5rem;
    font-weight: 600;
}

/* content */
.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left : 250px;
}

/* sidebar */
/* coté gauche */
.left_side{
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
}
.active_lightMode{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center  ;   
    
}
.mode{
    display: flex;
    align-items: center;
    justify-content: center;
}
.toFollow{
}
.toFollow .profil_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.toFollow li {
    display: flex;
    align-items: center;
}
.toFollow p {
    font-weight: 600;
    font-size: 1rem;
    margin-right: 10px;
}
.toFollow .follow {
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
}
/* Card des tweets */
.liste_tweet {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 40%;

}
.formclass {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }

  .formclass textarea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }

  .liste_commentaire {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .liste_commentaire .profil_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
.liste_tweet .voir_plus {
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
}

.tweet{
  
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.tweet .tweet_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tweet .tweet_header .tweet_author{
    font-weight: 600;
    font-size: 1rem;
    margin-right: 10px;
}
.tweet .tweet_header .tweet_date{
    font-size: 0.8rem;
}
.tweet .profil_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.tweet .tweet_content{
    word-wrap: break-word;
}
.tweet .tweet_likes_retweets{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    gap: 5px;
}
.tweet_likes_retweets_profil{
    display: flex;
    gap: 5px;
}
.tweet_likes_retweets_profil .retweet{
    display: flex;
    align-items: center;
    gap: 5px;
}
.tweet_likes_retweets_profil .like{
    display: flex;
    align-items: center;
    gap: 5px;
}
.tweet .tweet_likes_retweets div {
    display: flex;
    align-items: center;
    gap: 5px;
}
.tweet .commentaires {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}
.tweet .commentaire_content{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

/* coté droit */
.right_side{
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 20%;
}
/* .right_side .connexion a{
    display: flex;
    align-items: center;
    background-color: #c51f5d;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center  ;   
}
.right_side .google button{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
} */

/* messages box en bas a droite */
/* 
.messages{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    background-color: #1A91DA;
    border-radius: 20px 20px 0px 0px;
    margin-right: 10px;
}
.messages_headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; 
    cursor: pointer;  
}
.messages_headers i{
    color: #fff;
}
.messages_list{
    display: none;
    height: 500px;
}
.messages_list_empty{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
.messages_list_item{
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    background-color: #e8e8e8;
}

.messages_list_item_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.messages_list_item_image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  
}
.messages_list_item_content_title{
    display: flex;
    align-items: center;
}
.messages_list_item_content{
    display: flex;
    align-items: center;
    gap: 10px;
    position:relative;
    width: 100%;
}
.messages_list_item_content small{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}
.messages_list_item_content h4,p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
} */
.tweet_footer{
    width: 100%;
}
/* message page */
.liste_message_page{
    padding: 15px;
    width: 40%;
}
.liste_message_page_list_item{
    display: flex;
    align-items: center;
    gap: 10px;

}
.liste_message_page_list_item:hover{
    cursor: pointer;
}

.liste_message_page_list_item_image img{
   
    border-radius: 50%;
}
hr.message_divider{

}
hr.divider{
    height: 5px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
}
.liste_message_page_list_item_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.liste_message_page_list_item_content_message{
    width: 100%;
}
.liste_message_page_list_item_content_message p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 500px;
}
.message_conversation_item_image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message_conversation{
    padding: 15px;
    width: 500px;
    margin-top: 100px;
    border-radius: 20px;
}
.message_conversation_item{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}
.message_conversation_item .message_conversation_item_content{
  
    border-radius: 20px;
    opacity: 0.8;
    padding: 5px 10px;
}
.message_conversation_item_content{
    border-radius: 20px;
    opacity: 0.8;
    padding: 5px 10px;
}

.message_conversation_item_self{

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}
.message_conversation_item_self .message_conversation_item_content{
    border-radius: 20px;
    opacity: 0.8;
    padding: 5px 10px;
}
/* form login */

.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 10px;
}
.formLogin input{
    width: 100% !important;
    padding: 10px !important;
    margin-bottom: 10px !important;
    border-radius: 20px !important;
    border: none;
}
.formLogin button {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.formLogin p {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.contentLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.headernav{
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    width: 280px;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
}
.menu a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    gap: 10px;
    text-align: center;
    vertical-align: middle;
}

.mini_profil{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}
.mini_profil img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    cursor: pointer;
    padding: 5px;
}
.mini_profil:hover {
}
.userinfo_base{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.userinfo_base i{
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.headernav .search input{
    width: 100%;
    padding: 8px;
    border-radius: 30px;
    height: 25px;
    border: none;
   
}
.headernav .search {
display: flex;
align-items: center;
margin-bottom: 20px;
margin-top: 20px;

   
}
.headernav .search button {
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-left: 10px;
}

/* vue profile home */

.right_side .profil .profil_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
    top: 70px;
    margin-left: 15px;
}
.profil {
    width: 100%;
}
.profil .follow_button {
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    
}
.profil .follow_button a{
}
.profil .profile_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.nameprofil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.profil_header  {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

}

.profil .profil_name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.profil .profil_username {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.profil .profil_bio {
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.profil .profil_follow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}
.profil .profil_follow_number {
    font-size: 1rem;
    font-weight: 600;
    margin-right: 10px;
}
.profil_content{
    margin-left: 75px;
    width:60%
}
.listefollow, .listeFollower{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 20%;
    align-items: center;
    padding: 10px;
    margin: 20px;

    border-radius: 20px;
}
.follow_you {
    
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
 
    padding: 5px;
    border-radius: 10px;
}
.showFollow{
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.user_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}
.user_list a {
    width:100px;
    height:30px;
}
.user_list img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    cursor: pointer;
    padding: 5px;
}
*{
    box-sizing: border-box;
}

.toFollow_user{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.NouveauTweet form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.NouveauTweet form textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    resize: none;
}
.NouveauTweet form button {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* formulaire inscription */

.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.form-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text-muted{
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.help{
    font-size: 0.8rem;
    margin-bottom: 10px;
}
.is-danger{
    font-size: 0.8rem;
    margin-bottom: 10px;
}

/* profil page */

.profil_page {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.profil_page_header {
    height: 200px;
    display: flex;
    padding: 10px;

}

.profil_page_header img {
    width: 100%;
    height: 100%;

   
}

.profil_page_header_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 50px;
    position: absolute;
    top: 110px;
}

.edit_profil {
    width: 150px;
    float: right;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
}

.edit_profil a {
    text-decoration: none;
}

.edit_profil:hover {

}

.profil_page_header_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profil_page_body_text {
    position: relative;
    top: 110px;
    margin-left: 30px;
}

.profil_header_text {
}

.profil_page_content {
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.profil_page_content h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}
.follow_btn{
    width: 150px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    float: right;
    background-color: #1DA1F2;

}
.follow_btn a {
    text-decoration: none;
    color: white;
}
.follow_btn:hover{
    background-color: #1A91DA;
}

.last_tweet {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.last_tweet h1 {
    text-align: center;
    padding-bottom: 10px;
    border-radius: 5px;

}

.tweet_header_profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.last_likes{
    margin-left: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.last_likes h1 {
    text-align: center;
    padding-bottom: 10px;
    border-radius: 5px;
}
.last_retweets {
    margin-left: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.last_retweets h1 {
    text-align: center;
    padding-bottom: 10px;
    border-radius: 5px;
}

.follow_info_profil_page{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
/* search result ajax */
.ui-autocomplete{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    z-index: 9999;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 20px 20px;
    width: 30%;
}
.searchresult{
   width: 100%;
   border-radius:  20px;
}
.searchresult:hover{
    cursor: pointer;
}
.searchresultdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    
}
.searchresultdiv .nameresult{
    display: flex;
    flex-direction: column;
}
.nameresult span {
    font-size: 1.3rem;
}
.nameresult small{
    font-size: 0.8rem;
}

/* edit profil */

.edit_profil_page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-right: 10px;
}
.contentEdit{
    margin-left: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formclass form {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px; */
}

.formclass form input[type="text"],
[type="password"],
[type="email"] {
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.formclass form input[type="file"] {
    margin: 10px;
} 

.formclass form input[type="submit"] {
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.profil_picture {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

